
*{
  font-family: monospace;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  flex-grow: 1;
}

#main > div:first-child , #main > div:last-child {
  margin: 1em;
  padding: 1.5em;
  width: 15%;
}

#submit{
  align-self: center;
}

.buttonBlue{
  background-color: navy;
  color:white;
  border-width: 1px;
  border-color: rgb(173, 202, 220);
  padding:5px;
}  

.buttonGray{
  background-color: gray;
  color:white;
  border-width: 1px;
  padding:5px;
}

.contentBlock{
  background-color: lightgray;
  border-radius: 1em;
  font-family: roboto;
  margin:1em;
  padding:1em;
}

.contentBlock > div:first-child {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.contentBlock > div:first-child img{
 height:2em;
 width:2em;
}

.grayBlock{
  background-color: gray;
  border-radius: 1em;
}

.imgLike{
  height: 4em;
}

.imgPost{
  max-height: 100%;
  max-width: 100%;
  max-height: 450px;
}

.loginBlock{
  text-align: center;
  align-self: center;
}

.mainContent{
  overflow: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.marginTop{
  margin-top: 80px;
}

a{
  color: cornflowerblue;
  text-decoration: none;
}

a:hover{
  color: red;
}

article span{
  align-self:flex-start;
  margin-right: 10%;
  text-align:right;
  font-family:roboto;
  width:25%;
 }

body{
  height: 100%;
  margin: 0px;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  /* justify-content: space-between; */
}

body {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

footer{
  padding: 1.5em;
  margin:0.5em;
}

header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:10px;
  padding-right:10px;
  margin:0.5em;
}

header a{
  text-decoration: none;
  color: black;
}

/*
header > a > img{
  width:2em;
  height:2em;
}
*/

header img{
  height: 30px;
  width: 30px;
}

header a:hover{
  background-color:aliceblue;
}



html{
  height: 100%;
}

input:not([type=submit]){
  width: 60%;
}

main{
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  margin-top: 90px;
  align-self: center;
}

main article{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content:center;
  align-items:center;
  padding:10px;
}

span ~ textarea {
  resize: none;
}

